<h4 class="widget-title">Friends</h4>
<div id="searchDir"></div>
<ul id="people-list" class="friendz-list">

  <% @friends.each do |friend| %>
    <li>
      <figure>
      <% if friend.profile!= nil && friend.profile.photo.url !=nil %>
         <%= image_tag (friend.profile.photo.url :controls =>true, style: 'display:inline') %>
      <% else %> 
        <%= image_pack_tag 'media/images/resources/friend-avatar.jpg'%>
      <% end %>
        <span class="status f-away"></span>
      </figure>
      <div class="friendz-meta">
        <a href=""><%= friend.username %></a>
      </div>
    </li>  
  <% end %>                    
</ul>
<% @friends.each do |friend| %>
<div class="chat-box">
  <div class="chat-head">
    <span class="status f-online"></span>
    <h6><%= friend.username %></h6>
    <div class="more">
      <span><i class="fas fa-ellipsis-h"></i></span>
      <span class="close-mesage"><i class="fas fa-window-close"></i></span>
    </div>
  </div>
  <div class="chat-list">
<!--                         <ul>
      < @room_messages.each do |room_message| %>
      < if room_message.user == current_user %>
      <li class="me">
      < else %>
        <li class="you">
      < end %>
        <div class="chat-thumb"><= image_pack_tag 'media/images/resources/user-avatar.jpg'%></div>
        <div class="notification-event">
          <span class="chat-message-item">
            <= room_message.message %>
          </span>
          <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
        </div>
      </li>
      < end %>
    </ul> -->
    <form class="text-box">
      <textarea placeholder="Post enter to post..."></textarea>
      <div class="add-smiles">
        <span title="add icon" class="em em-expressionless"></span>
      </div>
      <div class="smiles-bunch">
        <i class="em em---1"></i>
        <i class="em em-smiley"></i>
        <i class="em em-anguished"></i>
        <i class="em em-laughing"></i>
        <i class="em em-angry"></i>
        <i class="em em-astonished"></i>
        <i class="em em-blush"></i>
        <i class="em em-disappointed"></i>
        <i class="em em-worried"></i>
        <i class="em em-kissing_heart"></i>
        <i class="em em-rage"></i>
        <i class="em em-stuck_out_tongue"></i>
      </div>
      <button type="submit"></button>
    </form>
  </div>
</div>
<% end %>